.itemContainer {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.5);
  margin: 20px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: rgba(170, 252, 162, 0.692);
}

.itemImage {
  max-width: 100%;
  height: auto;
}

.itemContent {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.itemName {
  font-size: 2em;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.buttonContainer{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.itemButton {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
